
@font-face {
    font-family: 'phenomenabold';
    src: url('../fonts/Phenomena-Bold.woff') format('woff'), url('../fonts/Phenomena-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'phenomenaregular';
    src: url('../fonts/phenomena-regular.woff') format('woff'), url('../fonts/phenomena-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-light';
    src: url('../fonts/roboto-light.woff') format('woff'), url('../fonts/roboto-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

//break points
$res_360:   360px;
$res_550:   550px;
$res_760:   770px;
$res_800:   800px;
$res_801:   801px;
$res_1000:  1000px;
$res_1140:  1140px;

//colors
$color-blue:            #6699cc;
$color-drk-blue:        #778fcf;
$color-yellow:          #e5bd62;
$color-beige:           #c7c7c7;
$color-green:           #72bb25;
$color-white:           #fff;
$color-almost-white:    #f0f0f0;
$color-emerald:         #64ab6e;
$color-dark-blue:       #778fcf;
$color-black:           #222;
$color-greener:         #74ad5d;
$color-green-blue:      #759f8e;
$color-mid-blue:        #7695b9;
$color-gray:            #949494;
$color-gary-2:          #c6c6c6;
$color-gary-3:          #b5b5b5;
$color-red:             #ff6363;
//
$site-width:            1140px;


//fonts
$font_light:      roboto-light, Arial, sans-serif;
$font_ph:         phenomenaregular, Arial, sans-serif;
$font_ph_bold:    phenomenabold, Arial, sans-serif;


