html,
body {
    height: 100%;
    opacity: 1;
}
.hidden {
  display: none !important;
}
body {
  min-width: 320px;
}
.svg-sprite {
    display: none;
}

.social_div {
	font-size: 1px;
    margin: 15px 0;
}

article + .social_div{
	margin-top: -20px;
}

/* This gets Facebook to fall into place */
.social_div iframe {
	vertical-align: middle;
}

/* Set an optional width for your button wrappers */
.social_div span {
   	vertical-align: middle;
	display: inline-block;
	width: 70px;
    height: 21px;
}
.errorlist li {
  font: 12px $font_light;
  color: red;
}

.zsiq_theme1 div.zsiq_cnt {display: none;}

.black {
  background: #333333 !important;
}

.light-grey {
  background: #f0f0f0 !important;
}

.gradient-blue {
  background: linear-gradient(#778fcf, #7c95d7) !important;
}

.gradient-green {
  background: linear-gradient(#4db870, #51c778) !important;
}

.wrapper {
  position: relative;
}

.footer-case-studies {
  position: absolute;
  bottom: 0;
  z-index: 100;
}
