

@mixin width-1140 {
    @media screen and (max-width: $res_1140) {
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width: $res_1000) {
        @content;
    }
}
@mixin width801 {
    @media screen and (max-width: $res_801) {
        @content;
    }
}
@mixin tablet {
  @media screen and (max-width: $res_800) {
    @content;
  }
}
@mixin width-760 {
  @media screen and (max-width: $res_760) {
    @content;
  }
}
@mixin phone {
  @media screen and (max-width: $res_550) {
    @content;
  }
}
@mixin small-phone {
  @media screen and (max-width: $res_360) {
    @content;
  }
}
@mixin wrapper-pref {
    max-width: $site-width;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}
@mixin circle {
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translate(-50%, -42%);
        transform: translate(-50%, -42%);
        width: 546px;
        height: 546px;
        border-radius: 50%;
        background: white;
        opacity: 0.102;
    }
}