.about-us {
    &_banner {
        height: 260px;
        box-sizing: border-box;
        background: $color-drk-blue;
        padding-top: 150px;
        min-height: 0;
    }
    &_title {
        font: 36px/43px $font_ph;
        color: $color-white;
    }
    &_text-section {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10px;
            background: -webkit-linear-gradient(left,#78be30 0,#7aa980 50%,#7d94d0 100%);
            background: linear-gradient(to right,#78be30 0,#7aa980 50%,#7d94d0 100%);
        }
    }
}
