.benefits-section {
    width: 100%;
    background: $color-almost-white;
    padding: 40px 0;
    &_wrapper {
        @include wrapper-pref;
    }
    &_list {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }
    &_item {
        margin-bottom: 7px;
        &:last-child {
            margin-bottom: 0;
        }
        .benefits-section_link {
            margin-bottom: 0;
        }
    }
    &_link {
        display: flex;
        align-items: center;
        justify-content: center;
        @include width-1140 {
            justify-content: flex-start;
            padding: 0 30px;
            margin-bottom: 10px;
        }
    }
    &_number {
        background: $color-drk-blue;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font: 28px $font_ph_bold;
        color: $color-white;
        flex: 0 0 auto;
        border: 4px solid $color-almost-white;
        z-index: 2;
    }
    &_empty {
        flex-basis: 0;
    }

    &_text {
        flex-basis: 100%;
        background: $color-white;
        height: 50px;
        width: 100%;
        max-width: 750px;
        display: flex;
        align-items: center;
        border-radius: 0 30px 30px 0;
        position: relative;
        left: -33px;
        padding: 0 20px 0 40px;
        box-sizing: border-box;
        font: 16px $font_light;
        color: $color-black;
        @include width-1140 {
            flex: 0 0 80%;
            //border-radius: 30px;
        }
        @include tablet {
            height: auto;
            padding: 10px 20px 10px 40px;
        }
    }

    &__empty {
        @include width-1140 {
            flex: 0 0 0;
        }
    }
    &_item:first-child {
        @include width-1140 {
            margin-left: 5px;
        }
        .benefits-section_number {
            &:before {
                content: '';
                position: absolute;
                width: 2px;
                background: $color-drk-blue;
                height: 95%;
                top: 4px;
                left: 196px;
                transform: translate(-100%, 0);
                z-index: -1;
                @include width-1140 {
                    left: 65px;
                }
                @include tablet {
                    height: 99%;
                }
                @include small-phone {
                    top: 0;
                    height: 100%;
                }
            }
        }
        @include width-1140 {
            .benefits-section_number {
                order: 1;
                margin-left: -5px;
            }
            .benefits-section_text {
                order: 2;
                border-radius: 0 30px 30px 0;
                right: auto;
                left: -33px;
                padding: 0 30px 0 40px;
            }
            .benefits-section_empty {
                order: 3;
            }
        }
        @include tablet {
            .benefits-section_text {
                height: auto;
                padding: 10px 20px 10px 40px;
            }
        }
    }
}