.breadcrumbs {
    display: flex;
    position: absolute;
    top: 85px;
    left: calc(50% - 570px);
    width: 1140px;
    z-index: 2;

    @include width-1140 {
        left: 20px;
        width: auto;
        transform: translate(0,0);
    }
    @include tablet {
        display: none;
    }
    &_home-icon {
        width: 15px;
        height: 14px;
        fill: $color-gary-2;
    }
    &_link {
        background: $color-white;
        padding: 4px 6px;
        margin-right: 15px;
        position: relative;
        display: flex;
        align-items: center;
        height: 22px;
        box-sizing: border-box;
        font: 16px $font_ph_bold;
        color: $color-gary-2;
        text-transform: uppercase;
        transition: color 0.2s linear;
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 11px 0 11px 11px;
            border-color: transparent transparent transparent $color-white;
            position: absolute;
            top: 0;
            right: -11px;
            z-index: 2;
        }
        .breadcrumbs_item:not(:first-child) & {
            padding: 4px 10px;
            margin-left: 2px;
            &:before {
                content: '';
                width: 0;
                height: 0;
                border: 11px solid $color-white;
                border-left-color: transparent;
                position: absolute;
                top: 0;
                left: -12px;
                transform: rotate(360deg);
                z-index: 1;
            }
        }
        .breadcrumbs_item:last-child & {
            color: $color-black;
        }
        &:hover {
            color: $color-black;
            .breadcrumbs_home-icon {
                fill: $color-black;
            }
        }
        //.breadcrumbs_item__active & {
        //    color: $color-black;
        //    .breadcrumbs_home-icon {
        //        fill: $color-black;
        //    }
        //}
    }
}
