.custom-scroll {
    .block {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        height: auto;
        font-size: 100px;
        box-sizing: border-box;

        &:last-child {
            padding-bottom: 0;
        }
    }
    .message-block_wrapper {
        flex: 1 1 100%;
    }
    .active {
        z-index: 100 !important;
    }
}
