.facts {
    margin-bottom: 68px;
    width: 100%;
    overflow: hidden;
    &_list {
        display: flex;
        margin: 0 auto;
        max-width: $site-width;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        &:after {
            content: '';
            width: 70%;
            height: 1px;
            background: $color-green;
            position: absolute;
            z-index: 0;
            top: 27%;
            left: 50%;
            transform: translate(-50%,0);
        }
        @include phone {
            flex-direction: column;
            align-items: center;
            &:after {
                display: none;
            }
        }
    }
    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 360px;
        margin-left: 33px;
        flex: 1;
        @include tablet {
            margin-left: 0;
        }
        @include phone {
            margin: 0 0 35px 33px;
        }
    }
    &_title {
        font: 700 72px/96px $font_ph;
        .facts_item__installations & {
            color: $color-green;
        }
        .facts_item__courses & {
            color: $color-emerald;
        }
        .facts_item__sudents & {
            color: $color-dark-blue;
        }
        &__wrapper {
            background: #f0f0f0;
            z-index: 1;
            padding: 0 20px;
            margin-bottom: 10px;
        }
    }
    &_header {
        font: 22px/27px $font_ph_bold;
        color: $color-black;
        text-transform: uppercase;
        margin: 0 0 10px -30px;
    }
    &_paragraph {
        font: 16px/21px $font_light;
        margin-left: -33px;
        width: 100%;
        @include tablet {
            margin-left: 0;
        }
    }
}