.footer {
    width: 100%;
    background: $color-almost-white;
    padding: 41px 0;
    &_wrapper {
        @include wrapper-pref;
    }
    &_email,
    &_copyright {
        font: 14px $font_ph;
        text-transform: uppercase;
        color: $color-black;
    }
    &_email {
        margin-bottom: 26px;
        font-family: $font_light;
    }
    &_social-list {
        display: flex;
        width: 190px;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        margin-bottom: 30px;
    }
    &_social-link {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: $color-dark-blue;
        transition: all 0.2s linear;
        &:last-child {
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left:0;
                width: 100%;
                height: 1px;
                background: $color-drk-blue;
                z-index: -1;
            }
        }
        &:hover {
            background: $color-white;
            transition: all 0.2s linear;
            .footer_social-image {
                fill: $color-drk-blue;
                transition: all 0.2s linear;
            }
        }
    }
    &_social-image {
        height: 22px;
        fill: $color-white;
        transition: all 0.2s linear;
    }
}