.header-nav {
    display: flex;
    justify-content: space-between;
    width: 665px;
    box-sizing: border-box;
    position: relative;
    z-index: 9;
    &_link {
        position: relative;
        color: $color-white;
        font-family: $font_ph_bold;
        font-size: 18px;
        line-height: 23px;
        .header__fixed & {
            color: $color-black;
        }
        .header-nav_item__dropdown &:after {
            content: '';
            position: absolute;
            right: -11px;
            top: 50%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 4px 0 4px;
            border-color: #ffffff transparent transparent;
            transform: translateY(-50%);
            transition: transform 0.2s linear;
        }
        .header-nav_item__show-dropdown &:after {
            transform: translateY(-50%) rotate(180deg);
            transition: transform 0.2s linear;
        }
        @include tablet {
            .header__fixed & {
                color: $color-white;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
    &_item {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            height: 3px;
            width: 0;
            background: $color-green;
            transition: width 0.2s linear;
        }
        &__active {
            &:before {
                width: 100%;
                transition: width 0.2s linear;
            }
        }
        &__show-dropdown {
            .header-nav_drop-wrapper {
                display: block;
            }
        }
        @include tablet {
            margin-bottom: 15px;
            &:before {
                content: '';
                position: absolute;
                left: -9px;
                top: 0;
                width: 3px;
                height: 0;
                bottom: auto;
                transform: translate(0, 0);
                background: $color-green;
            }
            &:hover:before {
                width: 3px;
                height: 22px;
            }
        }
        &__current {
            &:before {
                width: 100%;
                transition: width 0.2s linear;
            }
        }
    }
    &_drop-wrapper {
        display: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 97%);
        min-width: 100%;
        padding-top: 60px;
    }
    &_drop-list {
        box-shadow: 0 4px 14.45px 2.55px rgba(0, 0, 2, 0.2);
        background: $color-drk-blue;
        display: flex;
        flex-direction: column;
        border-radius: 0 0 12px 12px;
        position: relative;
        padding: 12px 0;
        @include tablet {
            margin: 10px -12px 0;
            border-radius: 0;
            &:after {
                display: none;
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #778fcf;
            transform: rotate(360deg) translate(-50%, -90%);
        }
    }
    &_drop-item {
        padding: 5px 15px;
        &:hover {
            background: $color-white;
            .header-nav_drop-link {
                color: $color-drk-blue;
            }
        }
    }
    &_drop-link {
        color: $color-white;
        font: 12px/17px $font_light;
        text-transform: uppercase;
        white-space: nowrap;
        @include tablet {
            color: $color-white;
        }
    }
    @include tablet {
        flex-direction: column;
        position: absolute;
        background: #232c44;
        bottom: 0;
        transform: translate(0, -150%);
        width: 100%;
        box-sizing: border-box;
        left: 0;
        padding: 25px;
        transition: transform 0.3s linear;
        overflow: hidden;

        &_drop-wrapper {
            position: static;
            transform: translate(0, 0);
            padding-top: 0;
        }
    }
    &_visible {
        transform: translate(0, 100%);
        transition: transform 0.3s ease-in;
        width: 100%;
    }
}