.infographic {
    width: 100%;
    background: $color-almost-white;
    padding: 77px 0 85px;
    @include width-1140 {
        display: none;
    }
    &_wrapper {
        @include wrapper-pref;
        position: relative;
    }
    &_list-holder {
        position: relative;
        max-width: $site-width;
        width: 100%;
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 280px;
            height: 281px;
            border: 2px solid #c7c7c7;
            border-radius: 50%;
            top: 216px;
            left: 17px;
            z-index: 0;
            box-sizing: border-box;
        }
        &:after  {
            right: 17px;
            left: auto;
            z-index: 0;
            box-sizing: border-box;
        }
        @include width-1140 {
            &:before,
            &:after {
                display: none;
            }
        }
    }
    &_list {
        max-width: 860px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        position: relative;
        background: $color-almost-white;
        box-sizing: border-box;
        height: 710px;
        z-index: 1;
        @include tablet {
            height: auto;
        }
    }
    &_item{
        position: relative;
        display: flex;
        justify-content: center;
        flex-basis: 33%;
        &__low-row {
            flex-basis: 50%;
            align-self: flex-end;
            flex-direction: column;
        }
        &:nth-child(2) {
            .infographic_header {
                color: $color-greener;
            }
            .infographic_number {
                border-color: $color-greener;
                &:before,
                &:after {
                    background: $color-greener;
                }
            }
        }
        &:nth-child(3) {
            .infographic_header {
                color: $color-green-blue;
            }
            .infographic_number {
                border-color: $color-green-blue;
                &:before,
                &:after {
                    background: $color-green-blue;
                }
            }
        }
        &:nth-child(4) {
            .infographic_header {
                color: $color-drk-blue;
            }
            .infographic_number {
                border-color: $color-drk-blue;
                &:before,
                &:after {
                    background: $color-drk-blue;
                }
            }
            .infographic_holder {
                align-self: flex-end;
                margin-right: 20px;
            }
        }
        &:nth-child(5) {
            .infographic_header {
                color: $color-mid-blue;
            }
            .infographic_number {
                border-color: $color-mid-blue;
                &:before,
                &:after {
                    background: $color-mid-blue;
                }
            }
            .infographic_holder {
                align-self: flex-start;
                margin-left: 20px;
            }
        }
        @include tablet {
            margin-bottom: 20px;
            &__low-row {
                flex-basis: 33%;
                align-self: flex-start;
            }
        }


    }
    &_holder {
        width: 265px;
        height: 325px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: $color-white;
        box-sizing: border-box;
        padding: 25px 15px;
        text-align: center;
        &:after {
            content: '';
            position: absolute;
            left: -1px;
            top: 217px;
            width: 101%;
            border-top: 2px solid $color-beige;
            z-index: 0;
            box-sizing: border-box;
        }
        .infographic_item__low-row & {
            &:after {
                top: 33.5%;
            }
        }
        @include width-1140 {
            &:after {
                display: none;
            }
        }
    }
    &_number {
        border: 15px solid $color-green;
        width: 61px;
        height: 61px;
        display: flex;
        align-items: center;
        justify-content: center;
        font: 38px $font_ph_bold;
        position: relative;
        margin-bottom: 52px;
        &:before {
            content: '';
            position: absolute;
            bottom: -60px;
            left: 50%;
            transform: translateX(-50%);
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background: $color-green;
            z-index: 1;
        }
        &:after {
            content: '';
            position: absolute;
            width: 7px;
            height: 26px;
            background: $color-green;
            bottom: -40px;
            left: 50%;
            transform: translateX(-50%);
        }
        .infographic_item__low-row & {
            margin-bottom: 10px;
            margin-top: 60px;
            &:before {
                bottom: auto;
                top: -60px;
            }
            &:after {
                bottom: auto;
                top: -40px;
            }
            @include width-1140 {
                margin-bottom: 52px;
                margin-top: 0;
                &:before {
                    bottom: -60px;
                    top: auto;
                }
                &:after {
                    bottom: -40px;
                    top: auto;
                }
            }
        }
    }
    &_header {
        font: 25px/25px $font_ph_bold;
        color: $color-green;
        margin-bottom: 20px;
        width: 200px;
        .infographic_item__low-row & {
            margin-bottom: 10px;
        }
    }
    &_text {
        font: 14px $font_light;
        width: 100%;
    }
    &_styleline {
        position: absolute;
        border: 1px solid $color-beige;
        border-top: none;
        border-radius: 0 0 12px 12px;
        top: 415px;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 575px;
        height: 27px;
        z-index: 2;
        @include width-1140 {
            display: none;
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 0;
            background: $color-green;
            transform: translate(-50%,-75%);
        }
        &:after {
            right: 0;
            transform: translate(50%,-75%);
        }
    }
    &_more-styleline {
        position: relative;
        width: 100%;
    }

}