.monitor-block {
    background: linear-gradient(to right, #4dbc70 0%,#52c879 100%);
    padding: 80px 0 90px;
    position: relative;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
        content: '';
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(to right, #5dd083 0, #88a3ea 100%)
    }
    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(to right, #5dd083 0%, #88a3ea 100%);
    }
    &__reversed {
        &:before {
            right: auto;
            left: 0;
            transform: translate(50%, -50%);
        }
        text-align: right;
    }
    &_wrapper {
        @include wrapper-pref;
        flex-direction: row;
        align-items: center;
        position: relative;
        min-height: 100vh;
        box-sizing: border-box;
        width: 100%;
        @include width-1140 {
            padding: 0 20px;
        }
        @include phone {
            text-align: center;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            width: 546px;
            height: 546px;
            border-radius: 50%;
            background: white;
            opacity: 0.102;
        }
        .monitor-block__reversed & {
            flex-direction: row-reverse;
            @include width-760 {
                flex-direction: column;
            }
        }
        .monitor-block__reversed &:before {
            right: auto;
            left: 0;
        }
        .monitor-block__centered & {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        @include width-760 {
            flex-direction: column;
        }
        .solutions-banner_image-wrapper {
            flex: 1;
            .js-sliding & {
                transform: translateX(-100%);
            }
        }
    }
    &_title {
        font: 36px $font_ph_bold;
        color: $color-white;
        margin-bottom: 50px;
    }
    &_text {
        font: 24px $font_light;
        color: $color-white;
    }
    &_text-wrapper {
        margin-left: 30px;
        flex: 1;
        .js-sliding & {
            transform: translateX(100%); 
        }
    }
    .solutions-banner_image-wrapper {
        background: none;
        max-width: 650px;
        flex-basis: auto;
        @include phone {
            flex: 0;
        }
    }
    &__centered {
        .solutions-banner_image-wrapper {
            max-width: 750px;
            margin: 30px 0;
        }
        .solutions-banner_image, .solutions-banner_image svg, .solutions-banner_image img {
            width: 100%;
            max-width: 750px;
           
        }
        .case-banner_monitor-screen {
            height: 70%;
            top: 8px;
            overflow: hidden;
            @include width-760 {
                top: 0;
            }
        }
    }
}
.shadow {
    -webkit-filter: drop-shadow( 18px 21px 32px rgba(0,0,0,0.5) );
    filter: drop-shadow( 18px 21px 32px rgba(0,0,0,0.5) ); /* Same syntax as box-shadow, except
                                                   for the spread property */
}
