.popup-list {
    font: 14px $font_light;
    width: 60%;
    list-style: disc;
    margin-bottom: 20px;
    &_text {
        font: 14px $font_light;
        color: $color-gary-82;
    }
    &_bold-text {
        font-weight: 700;
        width: 75%;
    }
    &_thin-text {
        font-weight: 300;
    }
    &_item {
        margin-bottom: 10px;
    }
    &_close {
        position: absolute;
        height: 18px;
        width: 18px;
        fill: $color-gary-82;
        transition: 0.2s;
        top: 20px;
        right: 20px;
        cursor: pointer;
        &:hover {
            fill: $color-gary-2;
            transition: 0.2s;
        }
        @include phone {
            top: 40px;
        }
    }
}
