.solutions {
    width: 99%;
    margin-bottom: 78px;

    &__biedge-bg {
        background: $color-almost-white;
        margin-bottom: 0;
        padding: 40px 0;
        width: 100%;
        .solutions_image__wrapper {
            &:after {
                display: none;
            }
        }
    }
    &_wrapper {
        @include wrapper-pref;
    }
    &_list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: relative;
        //padding-left: 18px;
        box-sizing: border-box;
        //margin-right: -3px;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            width: 90%;
            height: 1px;
            background: $color-dark-blue;
            z-index: 0;
            top: 60px;
            left: 50%;
            transform: translate(-50%,0);
        }
        @include tablet {
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 10px;
            &:after {
                display: none;
            }
        }
        &__small {
            &:after {
                width: 70%;
            }
        }
    }
    &_item {
        width: 170px;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1 1 40%;
        @include tablet {
            margin: 0 10px 40px;
        }
    }
    &_link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        .solutions__biedge-bg & {
            width: 140px;
        }
        &:hover {
            .solutions_image__wrapper {
                &:after {
                    transition: transform 0.3s linear;
                    transform: translate(-50%,-50%);
                }
            }
            .solutions_image {
                width: 66px;
                height: 66px;
                transition: all 0.3s linear;
                &__k12 {
                    height: 33px;
                }
                svg {
                    width: 66px;
                    height: 66px;
                    transition: all 0.3s linear;
                    &__k12 {
                        height: 33px;
                    }
                }
            }
            img {
                transform: scale(1.1);
                transition: all 0.3s linear;
            }
        }
    }
    &_image {
        transition: height 0.3s linear;
        height: 60px;
        width: 60px;
        fill: $color-white;
        &__wrapper {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background: $color-dark-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            z-index: 1;
            margin-bottom: 32px;
            &:after {
                content: '';
                position: absolute;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                bottom: -100%;
                left: 50%;
                transform: translate(-50%,0);
                transition: transform 0.3s linear;
                background: rgba(0,0,0,0.8) url(../images/zoom-tool.png) no-repeat 50% 25%;
            }
        }
        &__k12 {
            height: 30px;
        }
        svg {
            transition: height 0.3s linear;
            height: 60px;
            width: 60px;
            fill: $color-white;
        }
        img {
            transition: height 0.3s linear;
            height: 60px;
            width: 60px;
        }
    }
    &_title {
        font: 28px/35px $font_ex_bold;
        color: $color-black;
        position: relative;
        text-transform: uppercase;
        margin-bottom: 36px;
        @include small-phone {
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 15px;
            height: 3px;
            background: $color-emerald;
        }
        &:before {
            left: -30px;
        }
        &:after {
            right: -30px;
        }
    }
    &_text {
        font: 22px/28px $font_ph_bold;
        color: $color-black;
        text-align: center;
        display: inline-block;
        width: 100%;
    }
}
#education-software {
    width: 60px;
    height: 60px;
}