.solutions-banner {
    background: $color-drk-blue;
    padding-top: 90px;
    min-height: 610px;
    height: auto;
    margin-bottom: 80px;
    .main-banner_header {
        font-size: 3vw;
        color: $color-white;
        @include tablet {
            font-size: 5vw;
        }
        @include phone {
            font-size: 9vw;
        }
    }
    .main-banner_paragraph {
        font-size: 24px;
        text-align: left;
        &:after {
            display: none;
        }
        @include tablet {
            font-size: 16px;
            line-height: 21px;
        }
    }
    &_inner-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include tablet {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

    }
    &_textholder {
        display: flex;
        flex-direction: column;

    }
    &_inner-wrapper {
        padding: 40px 0;
    }
    &_image-wrapper {
        height: 440px;
        width: 440px;
        flex-shrink: 0;
        border-radius: 50%;
        background: rgba(255,255,255,0.2);
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 100px 0 50px;
        @include tablet {
            width: 300px;
            height: 300px;
            margin: 0 0 30px;
        }
    }
    &_image,
    &_image svg,
    &_image img {
        max-width: 520px;
        display: block;
        position: relative;
        flex-shrink: 0;
        @include width-1140 {
            height: auto;
            max-width: 320px;
        }
        @include phone {
            margin: 0 0 20px;
        }
    }
    &_image__single,
    &_image__single svg,
    &_image__single img {
        max-width: 100%;
        width: 100%;
    }
}
