.testimonials {
    width: 100%;
    background: url("../images/testimonials-bg.jpg") no-repeat 75% 0;
    background-size: cover;
    padding: 80px 0 20px;
    position: relative;
    margin-bottom: 80px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(to right, #78be30 0%, #7aa980 50%, #7d94d0 100%);
    }
    &_wrapper {
        @include wrapper-pref;
    }
    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 220px;
        &:focus {
            outline: 0;
        }
    }
    &_image {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        transition: all 0.3s linear;
        filter: grayscale(1) contrast(75%);
        box-sizing: border-box;
    }
    &_image-wrapper {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-white;
        transition: all 0.3s linear;
    }
    &_link {
        color: $color-gray;
        font-weight: 700;
        &:hover {
            text-decoration: underline;
        }
    }
    &_list {
        //display: flex;
        //align-items: center;
    }
    &_text-holder {
        position: absolute;
        bottom: -13px;
        width: 740px;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 100%);
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.1s linear;
        @include tablet {
            padding: 0 20px;
            box-sizing: border-box;
            width: 550px;
        }
        @include phone {
            width: 100%;
        }
    }
    &_list-wrapper {
        width: 100%;
    }
    &_title {
        font: 22px/28px $font_ph_bold;
        color:  $color-green;
        text-transform: uppercase;
    }
    &_title-desc {
        font: 16px/23px $font_light;
        color: #949494;
        margin-bottom: 30px;
    }
    &_text {
        font: 18px/24px $font_light;
        color: $color-black;
        width: 100%;
    }
    .slick-center {
        min-width: 220px;
        height: 220px;
        transition: all 0.3s linear;
        .testimonials_image {
            width: 210px;
            height: 210px;
            filter: grayscale(0) contrast(100%);
            transition: all 0.3s linear;
        }
        .testimonials_image-wrapper {
            width: 220px;
            height: 220px;
            transition: all 0.3s linear;
        }
        .testimonials_text-holder {
            visibility: visible;
            opacity: 1;
            transition: all 0.2s linear 0.5s;
        }
    }
    .slick-list {
        min-height: 500px;
        @include phone {
            min-height: 650px;
        }

        &:after {
            content: '';
            width: 22%;
            height: 1px;
            background: #72bb25;
            position: absolute;
            left: 170px;
            top: 114px;
            z-index: -1;
            @include width-1140 {
                display: none;
            }
        }
        &:before {
            content: '';
            width: 22%;
            height: 1px;
            background: #72bb25;
            position: absolute;
            right: 170px;
            top: 114px;
            z-index: -1;
            @include width-1140 {
                display: none;
            }
        }
    }
    .slick-track {
        display: flex;
        align-items: center;
        min-height: 220px;
    }
    .slick-prev,
    .slick-next {
        left: calc(50% - 140px);
        transform: translate(-50%,0) rotate(180deg);
        z-index: 2;
        top: 94px;
        background: url(../images/arrow.png) no-repeat 50% 50%;
        width: 13px;
        height: 20px;
        text-indent: 0;
        font-size: 0;
        padding: 20px;
        &:before {
            content: '';
        }
    }
    .slick-next {
        left: calc(50% + 120px);
        transform: translate(0,0);
    }
}
